@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
/*
font-family: 'Overpass', sans-serif;
font-family: 'Ubuntu', sans-serif;*/
* {
  box-sizing: border-box;
}

header {
  padding: 2vh 5vw 20vmin 5vw;
  background-image: url('./images/bg-pattern-intro.svg'), linear-gradient(90deg,hsl(13, 100%, 72%),hsl(353, 100%, 62%));
  border-bottom-left-radius: 100px;
  background-size: 205vmax 200vmax;
  background-position: 15% 52%, 60% 0%;
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15vmin;
}

.company-details {
  display: flex;
  align-items: center;
}

.drop-down-menu {
  padding: 0;
  padding-left: 2.5vmin;
  display: flex;
  font-family: 'Overpass', sans-serif;
  font-size: 1.25vmax;
  text-transform: capitalize;
  color: hsl(0, 0%, 100%);

}
.drop-down-menu li {
  padding-left: 4.5vmin;
  list-style: none;
}
.login-btn {
  text-transform: capitalize;
  font-family: 'Overpass',sans-serif;
  font-size: 1vmax;
  font-weight: 600;
  background-color: transparent;
  border-style: none;
  color: hsl(0,0%,100%);

}
.signup-btn {
  text-transform: capitalize;
  font-family: 'Overpass',sans-serif;
  font-size: 1vmax;
  font-weight: 600;
  background-color: hsl(0,0%,100%);
  border-style: none;
  color: hsl(356, 100%, 66%);
  border-radius: 105px;
  padding: 1em 1.5em;
}

.heading {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-size: 3vmax;
  color: hsl(0,0%,100%);

}
.heading span {
  text-transform: capitalize;
}

.subheading {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  color: hsl(0,0%,100%);
}
.subheading span {
  text-transform: capitalize;
}
.hero-btn {
  display: flex;
  justify-content: center;
  margin-top: 8vmin;
}
.startfree-btn {
  background-color: hsl(0,0%,100%);
  border-style: none;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  color: hsl(356, 100%, 66%);
  padding: 1em 1.1em;
  border-radius: 105px;
  margin-right: 1vmin;
}
.startfree-btn span {
  text-transform: capitalize;
}
.learnmore-btn {
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  background-color: transparent;
  border-color: hsl(0,0%,100%);
  border-width: thin;
  border-style: solid;
  border-radius: 105px;
  color: hsl(0,0%,100%);
  padding: 1em 1.5em;
  text-transform: capitalize;
}

.future-design-section {
  height: 120vh;
  margin-top: 10vmax;
  background-image: url('./images/illustration-editor-desktop.svg');
  background-size: 60vmax 50vmax;
  background-repeat: no-repeat;
  background-position: 150% 0%;
}
.future-design-section h3 {
  font-family: 'Overpass', sans-serif;
  color: hsl(208, 49%, 24%);
  text-align: center;
  font-size: 2vmax;
  margin-bottom: 8vmax;
}
.future-design-text {
  padding-top: 5vmin;
}
.future-design-section article {
  margin-left: 8vmax;
  width: 40vw;
  margin-bottom: 5vmax;
}
.future-design-section h4 {
  font-family: 'Overpass', sans-serif;
  color: hsl(208, 49%, 24%);
  font-size: 1.5vmax;
}
.future-design-section p {
  font-family: 'Overpass', sans-serif;
  font-size: 1vmax;
  line-height: 3.5vmin;
  color: hsl(207, 13%, 34%);

}

.infra-section {
  display: flex;
  align-items: center;
  background-image: url('./images/bg-pattern-circles.svg'), linear-gradient(90deg,hsl(237, 17%, 21%),hsl(237, 23%, 32%));
  background-size: 70vmax 70vmax,100%;
  background-repeat: no-repeat;
  background-position: -60% 75%;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
.infra-section img {
  margin-top: -80px;
  margin-bottom: -120px;
  margin-left: 15vmin;
}
.infra-section div{
  width: 30vw;
  margin-left: 10vmin;
}
.infra-section h1 {
  font-family: 'Overpass', sans-serif;
  color: hsl(0,0%,100%);
  font-size: 2vmax;
}
.infra-section p{
  font-family: 'Overpass', sans-serif;
  color: hsl(0,0%,100%);
  font-size: 1vmax;
  line-height: 3.5vmin;
}

.feat-section {
  margin-top: 20vmin;
  height: 90vh;
  background-image: url('./images/illustration-laptop-desktop.svg');
  background-repeat: no-repeat;
  background-size: 50vmax 40vmax;
  background-position: -30% 0%;
}
.feat-section-text {
  padding-top: 10vmin;
  margin-left: 50vw;
  width: 40vw;
}
.feat-section h1 {
  margin-top: 10vmin;
  font-family: 'Overpass', sans-serif;
  font-size: 1.5vmax;
  color: hsl(208, 49%, 24%);
}
.feat-section p {
  font-family: 'Overpass', sans-serif;
  font-size: 1vmax;
  line-height: 3.5vmin;
  color: hsl(207, 13%, 34%);
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-right:20vw;
  padding-top: 2.5vmax;
  padding-bottom: 3vmax;
  background: hsl(240, 10%, 16%);
  color: hsl(240, 2%, 79%);
  font-family: 'Overpass', sans-serif;
  font-size: 0.9vmax;
  border-top-right-radius: 100px;
}
footer .head-point {
  margin-bottom: 4vmin;
  font-weight: bold;
}
footer li {
  text-transform: capitalize;
  list-style: none;
  line-height: 25px;
}
