@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
/*
font-family: 'Overpass', sans-serif;
font-family: 'Ubuntu', sans-serif;*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

header {
  padding: 2vh 5vw 20vmin 5vw;
  background-image: url('./images/bg-pattern-intro.svg'), linear-gradient(90deg,hsl(13, 100%, 72%),hsl(353, 100%, 62%));
  border-bottom-left-radius: 100px;
  background-size: 205vmax 200vmax;
  background-position: 15% 52%, 60% 0%;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.company-details {
  display: flex;
  align-items: flex-start;
}
.drop-down1 {
  padding-left: 10vmin;
}
.drop-down2 {
  padding-left: 3vmin;
}
.drop-down3 {
  padding-left: 5vmin;
}
.drop-down1, .drop-down2, .drop-down3  {
  padding-top: 2vmin;
  font-family: 'Overpass', sans-serif;
  font-size: 1vmax;
  text-transform: capitalize;
  color: hsl(0, 0%, 100%);
}
.drop-down1 a:hover, .drop-down2 a:hover, .drop-down3 a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.drop-down1-content, .drop-down2-content, .drop-down3-content  {
    padding: 2vmin 3.2vmin;
    border-radius: 5px;
    font-family: 'Overpass', sans-serif;
    color: hsl(0,0%,0%);
    font-size: 0.8vmax;
    line-height: 3vmax;
    text-transform: capitalize;
    background: hsl(0,0%,100%);
    visibility: hidden;
}
.drop-down1:hover .drop-down1-content {
  visibility: visible;
}
.drop-down2:hover .drop-down2-content {
  visibility: visible;
}
.drop-down3:hover .drop-down3-content {
  visibility: visible;
}
.drop-down1-content li, .drop-down2-content li, .drop-down3-content li {
  list-style: none;
}
.drop-down1-content li:hover, .drop-down2-content li:hover, .drop-down3-content li:hover {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.login-btn {
  text-transform: capitalize;
  font-family: 'Overpass',sans-serif;
  font-size: 1vmax;
  font-weight: 600;
  background-color: transparent;
  border-style: none;
  color: hsl(0,0%,100%);
  margin-right: 3vmin;
}
.signup-btn {
  text-transform: capitalize;
  font-family: 'Overpass',sans-serif;
  font-size: 1vmax;
  font-weight: 600;
  background-color: hsl(0,0%,100%);
  border-style: none;
  color: hsl(356, 100%, 66%);
  border-radius: 105px;
  padding: 1em 1.5em;
}
.signup-btn:hover {
  background-color: hsl(355, 100%, 74%);
  color: hsl(0,0%,100%);
  cursor: pointer;
}
.login-btn:hover {
  cursor: pointer;
}
.heading {
  margin-top: -3vmin;
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-size: 3vmax;
  color: hsl(0,0%,100%);

}
.heading span {
  text-transform: capitalize;
}

.subheading {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  color: hsl(0,0%,100%);
}
.subheading span {
  text-transform: capitalize;
}
.hero-btn {
  display: flex;
  justify-content: center;
  margin-top: 8vmin;
}
.startfree-btn {
  background-color: hsl(0,0%,100%);
  border-style: none;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  color: hsl(356, 100%, 66%);
  padding: 1em 1.1em;
  border-radius: 105px;
  margin-right: 1vmin;
}
.startfree-btn span {
  text-transform: capitalize;
}
.startfree-btn:hover {
  background-color: hsl(355, 100%, 74%);
  color: hsl(0,0%,100%);
  cursor: pointer;
}

.learnmore-btn {
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  background-color: transparent;
  border-color: hsl(0,0%,100%);
  border-width: thin;
  border-style: solid;
  border-radius: 105px;
  color: hsl(0,0%,100%);
  padding: 1em 1.5em;
  text-transform: capitalize;
}
.learnmore-btn:hover {
  background-color: hsl(0,0%,100%);
  color: hsl(356, 100%, 66%);
  cursor: pointer;
  font-weight: bold;
}

.future-design-section {
  height: 120vh;
  margin-top: 10vmax;
  background-image: url('./images/illustration-editor-desktop.svg');
  background-size: 60vmax 50vmax;
  background-repeat: no-repeat;
  background-position: 150% 0%;
}
.future-design-section h3 {
  font-family: 'Overpass', sans-serif;
  color: hsl(208, 49%, 24%);
  text-align: center;
  font-size: 2vmax;
  margin-bottom: 8vmax;
}
.future-design-text {
  padding-top: 5vmin;
}
.future-design-section article {
  margin-left: 8vmax;
  width: 40vw;
  margin-bottom: 5vmax;
}
.future-design-section h4 {
  font-family: 'Overpass', sans-serif;
  color: hsl(208, 49%, 24%);
  font-size: 1.5vmax;
}
.future-design-section p {
  font-family: 'Overpass', sans-serif;
  font-size: 1vmax;
  line-height: 3.5vmin;
  color: hsl(207, 13%, 34%);

}

.infra-section {
  display: flex;
  align-items: center;
  background-image: url('./images/bg-pattern-circles.svg'), linear-gradient(90deg,hsl(237, 17%, 21%),hsl(237, 23%, 32%));
  background-size: 70vmax 70vmax,100%;
  background-repeat: no-repeat;
  background-position: -60% 75%;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
.infra-section img {
  margin-top: -80px;
  margin-bottom: -120px;
  margin-left: 15vmin;
}
.infra-section div{
  width: 30vw;
  margin-left: 10vmin;
}
.infra-section h1 {
  font-family: 'Overpass', sans-serif;
  color: hsl(0,0%,100%);
  font-size: 2vmax;
}
.infra-section p{
  font-family: 'Overpass', sans-serif;
  color: hsl(0,0%,100%);
  font-size: 1vmax;
  line-height: 3.5vmin;
}

.feat-section {
  margin-top: 20vmin;
  height: 90vh;
  background-image: url('./images/illustration-laptop-desktop.svg');
  background-repeat: no-repeat;
  background-size: 50vmax 40vmax;
  background-position: -30% 0%;
}
.feat-section-text {
  padding-top: 10vmin;
  margin-left: 50vw;
  width: 40vw;
}
.feat-section h1 {
  margin-top: 10vmin;
  font-family: 'Overpass', sans-serif;
  font-size: 1.5vmax;
  color: hsl(208, 49%, 24%);
}
.feat-section p {
  font-family: 'Overpass', sans-serif;
  font-size: 1vmax;
  line-height: 3.5vmin;
  color: hsl(207, 13%, 34%);
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-right:20vw;
  padding-top: 2.5vmax;
  padding-bottom: 3vmax;
  background: hsl(240, 10%, 16%);
  color: hsl(240, 2%, 79%);
  font-family: 'Overpass', sans-serif;
  font-size: 0.9vmax;
  border-top-right-radius: 100px;
}
footer .head-point {
  margin-bottom: 4vmin;
  font-weight: bold;
}
footer li {
  text-transform: capitalize;
  list-style: none;
  line-height: 25px;
}
footer .button-type:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media(max-width: 600px) {

  header nav{
    flex-direction: column;
  }
  .company-details {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .drop-down1, .drop-down2, .drop-down3 {
    display: none;
  }
  .account-btn {
    display: none;
  }
  .heading {
    margin-top: 5vmin;
    font-size: 5vmax;
    text-align: center;
  }
  .subheading {
    font-size: 3vmax;
    text-align: center;
    margin-top: 1vh;
  }
  .startfree-btn {
    margin-right: 3vmin;
  }
  .future-design-section {
    background-position: 50% 20%;
  }
  .future-design-section h3 {
    font-size: 5vmax;
  }
  .future-design-text {
    margin-top: 60vh;
    margin-left: auto;
    margin-right: auto;
  }
  .future-design-section article {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    margin-bottom: 5vmax;
  }
  .future-design-text h4 {
    font-size: 3vmax;
    text-align: center;
  }
  .future-design-section p {
    margin-top: 1vmax;
    font-size: 1.8vmax;
    letter-spacing: 1px;
    text-align: center;
  }
  .infra-section {
    display: flex;
    flex-direction: column;
    background-size: 85vmax 80vmax,100%;
    /* background-repeat: no-repeat; */
    background-position: 0px -150px,100%;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    margin-top: 30vh;
  }
  .infra-section img {
    width: 70vw;
    margin-left:0;
    height: auto;
    margin-top: -170px;
  }
  .infra-section div{
    width: 70vw;
    margin-top: 25vmin;
    margin-bottom: 20vmin;
  }
  .infra-section h1 {
    font-size: 5vmax;
    text-align: center;
  }
  .infra-section p{
    margin-top: 1vmax;
    text-align: center;
    font-size: 1.8vmax;
    letter-spacing: 1px;
    line-height: 3.5vmin;
  }

}
